# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
/bin/
/obj/

# Dependency directories
/vendor/

# IDE and editor files
.idea/
.vscode/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Environment variable files
.env

# Log files
*.log

# Test results
*.out
